<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Package</title>
    <link th:href="@{/css/staffBase.css}" rel="stylesheet">
    <link th:href="@{/css/staffNavbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container {
            max-width: 500px;
            margin: 40px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<header>
    <!-- Navbar -->
    
</header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Create Package</h1>
                <form th:action="@{/createPackage}" method="post">
                    <div>
                        <label for="packageName">Package Name:</label>
                        <input type="text" id="packageName" name="packageName" required>
                    </div>
                    <div>
                        <label for="activities">Select Activities:</label>
                        <select id="activities" name="activityIds" multiple required>
                        <!-- Iterate over activities and display each one -->
                        <th:block th:each="activity : ${activities}">
                        <option th:value="${activity.activityId}" th:text="${activity.activityName}"></option>
                        </th:block>
                        </select>
                    </div>
                    <div>
                    <button type="submit" class="btn btn-primary">Create Package</button>
                    </div>
                </form>
        </div>
    </div>
</div>
</body>
</html>
