<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="navbar-placeholder"></div>
    </header>
    <main>
        <h1>hi</h1>
    </main>
    <footer></footer>

    <script>
        function loadNavbar() {
            fetch('navbar.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('navbar-placeholder').innerHTML = data;
                });
        }
    
        function toggleNavbar() {
            var x = document.getElementById("myNavbar");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    
        // Load the navbar on page load
        window.onload = loadNavbar;
    </script>

</body>
</html>